<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AlunoCadastrarServlet</servlet-name>
        <servlet-class>servlet.aluno.AlunoCadastrarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlunoListarServlet</servlet-name>
        <servlet-class>servlet.aluno.AlunoListarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlunoDesativarServlet</servlet-name>
        <servlet-class>servlet.aluno.AlunoDesativarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfessorCadastrarServlet</servlet-name>
        <servlet-class>servlet.professor.ProfessorCadastrarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfessorEditarServlet</servlet-name>
        <servlet-class>servlet.professor.ProfessorEditarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfessorDesativarServlet</servlet-name>
        <servlet-class>servlet.professor.ProfessorDesativarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfessorListarServlet</servlet-name>
        <servlet-class>servlet.professor.ProfessorListarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlunoCadastrarServlet</servlet-name>
        <url-pattern>/AlunoCadastrarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlunoListarServlet</servlet-name>
        <url-pattern>/AlunoListarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlunoDesativarServlet</servlet-name>
        <url-pattern>/AlunoDesativarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfessorCadastrarServlet</servlet-name>
        <url-pattern>/ProfessorCadastrarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfessorEditarServlet</servlet-name>
        <url-pattern>/ProfessorEditarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfessorDesativarServlet</servlet-name>
        <url-pattern>/ProfessorDesativarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfessorListarServlet</servlet-name>
        <url-pattern>/ProfessorListarServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
